<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>Mis Reservas</h1>
        <ul class="list-group">
            {% for reserva in reservas %}
                <li class="list-group-item">{{ reserva }}</li>
            {% empty %}
                <li class="list-group-item">No tienes reservas.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-4">Volver a la lista de libros</a>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
